.table-fixed tr {
    width: 97%;
    display: inline-table  ;/*inline-table;*/
}
.table-fixed tbody {
    overflow-y: scroll;
    height: 200px;
    width: 100%;
    position: absolute;
}
.table-fixed thead{
    width: 100%;
}

.table-fixed  {
    height:500px;
}


