/*
.table-fixed tr {
    width: 97%;
    display: inline-table  ;!*inline-table;*!
}
.table-fixed tbody {
    overflow-y: scroll;
    height: 200px;
    width: 100%;
    position: absolute;
}
.table-fixed thead{
    width: 100%;
}

.table-fixed  {
    height:500px;
}


*/


.table-fixed tbody {
    display:block;
    height:400px;
    overflow:auto;
}
.table-fixed tbody tr,.table-fixed thead {
    display:table;
    width:100%;
    table-layout:fixed;
}

