/*
.table-fixed tr {
    width: 97%;
    display: inline-table  ;!*inline-table;*!
}
.table-fixed tbody {
    overflow-y: scroll;
    height: 200px;
    width: 100%;
    position: absolute;
}
.table-fixed thead{
    width: 100%;
}

.table-fixed  {
    height:500px;
}


*/


.table-fixed tbody {
    display:block;
    height:350px;
    overflow:auto;
}
.table-fixed tbody tr,.table-fixed thead {
    display:table;
    table-layout:fixed;
}

.table-fixed tbody tr{
    width:100%;

}

.table-fixed thead {
    width:100%;
}

.text-center
{
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428BCA;
}
.text-center .close{margin-top:5px;color:#BCF8FF}

a {
    text-decoration: none;
    color:black;
}
a:visited {
    color:#808080;
}
a:hover{
    text-decoration: none;
    color: white;
    background: #C0C0C0;
}

a:active{
    text-decoration: none;
    color: white;
    background-color: #FFCC66;
}

a.top {
    text-decoration: none;
    position:fixed;
    background-color:#FFFFFF ;
}
